img {
    padding-top: 1rem;
    max-width: 128px;
    height: auto;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    img {
        max-width: 192px;
    }
}

@media screen and (min-width: 992px) {
    img {
        max-width: 218px;
    }
}

@media screen and (min-width: 1200px) {
    img {
        max-width: 256px;
    }
}